<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>


<p>
  <strong>event_name:</strong>
  <%= @event.event_name %>
</p>
 
<p>
  <strong>event_date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>event_location:</strong>
  <%= @event.event_location %>
</p>
 
<p>
  <strong>event_text:</strong>
  <%= @event.event_text %>
</p>